body
{
background:#FFFFFF;    
padding: 10px;
margin:10px;

}
h1
{
font-family:"свт╡";
font-size:35px;
font-weight:bold;
color:#136cb2; 
text-align:center;
}


#container
{
height: 500px; 
padding-top: 65px; 
position: absolute; 
left: 50%; 
width: 600px; 
margin-left: -300px;
}


table
{
border-collapse: separate;
border-spacing: 2px;
border: 0px;
}

td
{
font-family:"свт╡";
font-size:12px;     /*20*19*/
color:#404040;
width:20px;
height:19px;
text-align:center;
/*background-color: #F0F0F0;             FFFFFF*/
/*#background-color:#C6E2FF;          */
background-color:#404040;      /*black*/
cursor: pointer;
}



